<h1>Coding Events</h1>

<p><a app-controller="Events" asp-action="Add">Add Event</a></p>

@if (ViewBag.events.Count == 0)
{
    <p>No Events Yet!</p>
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (var evt in ViewBag.events)
    {
        <tr>
            <td>@evt.Id</td>
            <td>@evt.Name</td>
            <td>@evt.Description</td>
        </tr> 
    }
</table>