<h1>Coding Events</h1>

<p><a app-controller="Events" asp-action="Add">Add Event</a></p>

@if (ViewBag.events.Count == 0)
{
    <p>No Events Yet!</p>
}

<table>
    @foreach (KeyValuePair<string, string> meeting in ViewBag.events)
    {
        <tr>
            <td>@meeting.Key</td>
            <td>@meeting.Value</td>
        </tr> 
    }
</table>